/*html5resetcss*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}


/*Master Styles*/

html,
body {
    height: 80%;
    padding: none;
    background-color: floralwhite;
    margin: 0px
}

h1 {
    margin-top: 2%;
    margin-left: 0px;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.banner-wrapper {
    display: flex;
    height: 20%;
    justify-content: space-between;
    padding: 2%;
}

.brand {
    color: #8a8a8a;
    height: 10%;
    text-decoration: none;
    transition: color 0.5s;
}

.brand:hover {
    border-bottom: 1px solid black;
    color: black;
}


/*To separate footage from header*/

.container {
    display: grid;
    grid-template-columns: 1fr;
}

#container {
    min-height: 100%;
}


/*Nav Styles*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.upp-down-left-side {
    display: flex;
}

.upp-down-left-side>div {
    margin-right: 6%;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}


/*BREADCRUMBS*/

.breadcrumbs {
    padding: none;
    font-family: sans-serif;
    margin-left: 25px;
}

.breadcrumbs__item {
    display: inline-block;
    font-size: 10px;
}

.breadcrumbs__item:not(:last-of-type) ::after {
    content: '\203a';
    margin: 0 5px;
    margin-top: 5px;
    color: grey;
}

.breadcrumbs__link {
    text-decoration: none;
    color: grey;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__link--active {
    color: #009;
    font-weight: 500;
}


/*FOOTER*/

#footer {
    background-color: #000;
    position: relative;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #f2f2f2;
    clear: both;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-info h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-info p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

socials a {
    text-decoration: none;
    color: #f2f2f2;
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.socials a:hover i {
    color: blue;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}


/* Slider styles */

.sliderwrapper {
    overflow: hidden;
    height: 640px;
    width: 640px;
    margin-left: 360px;
    margin-top: 20px;
}

@-webkit-keyframes slide_animation {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: 1200px;
    }
    30% {
        left: 1200px;
    }
    40% {
        left: 2400px;
    }
    50% {
        left: 2400px;
    }
    60% {
        left: 1200px;
    }
    70% {
        left: 1200px;
    }
    80% {
        left: 0px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 32s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}


/* Gallery+Zoom */

.pic {
    width: 10%;
    height: 10%;
}

.picbig {
    position: absolute;
    width: 0%;
    -webkit-transition: width 0.3 linear 0s;
    transition: width 0.3s linear 0s;
    z-index: 10;
}

.pic:hover+.picbig {
    width: 50%;
    height: 50%;
}


/* Customer and contact attention form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.form-wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* Services details */

.service-wraper {
    width: 30%;
}

.separator {
    height: 5%;
    position: relative;
}


/* About us */

.Who {
    width: 30%;
    position: relative;
}

.video {
    width: 50%;
    position: relative;
}