/*Master Styles*/

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    padding: 0mm;
    background-color: floralwhite;
    margin: 0px
}

h1 {
    margin-top: 50px;
    margin-left: 0px;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}


/*To separate footage from header*/

.container {
    display: grid;
    grid-template-columns: 1fr;
}

#container {
    min-height: 100%;
}


/*Nav Styles*/

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.brand {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.brand:hover {
    border-bottom: 1px solid black;
    color: black;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.upp-down-left-side {
    display: flex;
}

.upp-down-left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}


/*BREADCRUMBS*/

.breadcrumbs {
    padding: none;
    font-family: sans-serif;
    margin-left: 25px;
}

.breadcrumbs__item {
    display: inline-block;
    font-size: 10px;
}

.breadcrumbs__item:not(:last-of-type) ::after {
    content: '\203a';
    margin: 0 5px;
    margin-top: 5px;
    color: grey;
}

.breadcrumbs__link {
    text-decoration: none;
    color: grey;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__link--active {
    color: #009;
    font-weight: 500;
}


/*FOOTER*/

#footer {
    background-color: #000;
    position: relative;
    height: 20px;
    margin-top: -20px;
    clear: both;
}


/* Slider styles */

.sliderwrapper {
    overflow: hidden;
    height: 640px;
    width: 640px;
    margin-left: 360px;
    margin-top: 20px;
}


/*-------ANIMATION--------*/

@-webkit-keyframes slide_animation {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: 1200px;
    }
    30% {
        left: 1200px;
    }
    40% {
        left: 2400px;
    }
    50% {
        left: 2400px;
    }
    60% {
        left: 1200px;
    }
    70% {
        left: 1200px;
    }
    80% {
        left: 0px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 32s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}


/* Customer attention form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.form-wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* Contact form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.contactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    .input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}